# Ignore secrets file
secrets.json

# Ignore build artifacts and directories
bin/
obj/

# Ignore user-specific files
*.userprefs
*.suo
*.cache

# Ignore logs
*.log

# Ignore NuGet packages folder
packages/

# Ignore Visual Studio files
.vs/
*.vscode/
*.sln
*.csproj.user