@model ResultVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Ən ucuz yol ilə CarFax reportunuzu əldə edin! | Avtomobilləri yoxlamaq artıq çox rahatdır!">
    <meta name="author" content="Vinyoxla.az">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Ən ucuz yol ilə CarFax reportunuzu əldə edin! | Avtomobilləri yoxlamaq artıq çox rahatdır!">
    <meta property="og:description" content="Ən ucuz yol ilə CarFax reportunuzu əldə edin! | Avtomobilləri yoxlamaq artıq çox rahatdır!">
    <meta property="og:image" content="https://vinyoxla.az/assets/images/fotkaOG.jpg">
    <meta property="og:url" content="https://vinyoxla.az">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Ən ucuz yol ilə CarFax reportunuzu əldə edin! | Avtomobilləri yoxlamaq artıq çox rahatdır!">
    <meta name="twitter:description" content="Ən ucuz yol ilə CarFax reportunuzu əldə edin! | Avtomobilləri yoxlamaq artıq çox rahatdır!">
    <!--
            arashdir i ne zabud report/index !!! i podumay gde eshe nujno bilo
            <meta name="msvalidate.01" content="704124CD865E4F557043037E8F7D2DE1">
            <meta name="google-site-verification" content="_36KhDAz4E1FoUlvuV2RzodWvUJFs98XppnDFHbEL68">
            <meta name="yandex-verification" content="b2196d47de0c631a">
    -->

    <link rel="stylesheet" href="~/assets/styles/style.css">
</head>

<body class="body">

    <main id="reportmain">
        @Html.Raw(Model.HTML)

        <a class="klassdlacssdownloadreport" id="printbtn">Yükləmək</a>

        <a asp-controller="Home" asp-action="Index" class="returntoindex">Əsas Səhifə</a>
    </main>

    <!-- JQUERY  -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Slick -->
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
            integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- My JS -->
    <script src="~/assets/scripts/main.js" asp-append-version="true"></script>
</body>

</html>