@model AutoCheckVM

<form method="post" enctype="multipart/form-data" asp-controller="Purchase" asp-action="Index" asp-route-type="2" class="col-lg-12 col-12 icindeki">
    <div class="col-lg-12 col-12 top">
        <div class="toptop col-lg-12 col-12">
            <span class="col-lg-8 col-8 topelement">
                <span class="col-lg-2 col-12">Model:</span>
                <span class="col-lg-10 col-12" id="autoNameAutocheck">@Model.Vehicle</span>
                <input class="d-none" asp-for="Vehicle" />
            </span>
            <span class="col-lg-4 col-4 topelement">
                <span class="col-12 col-lg-8">Buraxılış ili:</span>
                <span class="col-12 col-lg-4" id="yearAutocheck">@Model.Year</span>
                <input class="d-none" asp-for="Year" />
            </span>
        </div>
        <div class="topbottom col-lg-12 col-12">
            <span class="col-lg-8 col-8 topelement">
                <span class="col-lg-2 col-12">VIN:</span>
                <span class="col-lg-10 col-11" id="vinCodeAutocheck">@Model.Vin</span>
                <input class="d-none" asp-for="Vin" />
            </span>
            <span class="col-lg-4 col-4 topelement">
                <span class="col-12 col-lg-8">Məlumat sayı:</span>
                <span class="col-12 col-lg-4" id="recordsCountAutocheck">@Model.Records</span>
                <input class="d-none" asp-for="Records" />
            </span>
        </div>
    </div>

    <div class="col-lg-12 col-12 bottom">
        <div class="col-lg-3 col-3-5">
            <img class="img-fluid" src="~/assets/images/autocheckLogo.png" alt="">
        </div>
        <span class="price">5 ₼</span>
        <button type="submit">Almaq</button>
    </div>
</form>