@model ImageVM

<form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="Index" class="col-lg-12 col-12 icindeki">
    <div class="col-lg-12 col-12 top">
        <div class="toptop col-lg-12 col-12">
            <span class="col-lg-8 col-8 topelement">
                <span class="col-lg-2 col-12">Model:</span>
                <span class="col-lg-10 col-12" id="autoNameImage">@Model.Vehicle</span>
            </span>
            <span class="col-lg-4 col-4 topelement">
                <span class="col-12 col-lg-8">Hərrac sayı:</span>
                <span class="col-12 col-lg-4" id="auctionCountImage">@Model.AuctionCount</span>
            </span>
        </div>
        <div class="topbottom col-lg-12 col-12">
            <span class="col-lg-8 col-8 topelement">
                <span class="col-lg-2 col-12">VIN:</span>
                <span class="col-lg-10 col-11" id="vinCodeImage">@Model.Vin</span>
                <input asp-for="Vin" style="display: none" class="d-none" />
            </span>
            <span class="col-lg-4 col-4 topelement">
                <span class="col-12 col-lg-8">Şəkil sayı:</span>
                <span class="col-12 col-lg-4" id="photoCountImage">@Model.ImageCount</span>
            </span>
        </div>
    </div>

    <div class="col-lg-12 col-12 bottom">
        <div class="col-lg-3 col-3-5">

        </div>
        <button type="submit" disabled>Tezliklə!</button>
    </div>
</form>
