@model HomeVM

<div class="col-lg-5-8 col-12 carfaxContainer resultContainer" id="carfaxContainer">
    @await Html.PartialAsync("_CarfaxResultPartial", Model.Carfax)
</div>

<div class="col-lg-5-8 col-12 photosApiResult resultContainer" id="photosApiResult">
    @await Html.PartialAsync("_ImageResultPartial", Model.ImageVM)
</div>

<div class="col-lg-5-8 col-12 reklam">
    <a target="_blank" href="https://garantauto.az/" class="reklamhref">
        <img src="~/assets/images/Banner-1.jpg" alt="" class="img-fluid">
    </a>
</div>

<div class="col-lg-5-8 col-12 reklam">
    <a target="_blank" href="https://rusum.az/" class="reklamhref">
        <img src="~/assets/images/rusum-banner.jpg" alt="" class="img-fluid">
    </a>
</div>