@model HomeVM

<div class="col-lg-5-8 col-12 carfaxContainer resultContainer" id="carfaxContainer">
    @await Html.PartialAsync("_CarfaxResultPartial", Model.Carfax)
</div>

<div class="col-lg-5-8 col-12 autocheckContainer resultContainer" id="autocheckContainer">
    @await Html.PartialAsync("_AutocheckResultPartial", Model.Autocheck)
</div>

<div class="col-lg-12 col-12 photosApiResult" id="photosApiResult">
    <span class="first">
        Avtomobil 3 hərracda iştirak edib <br>Avtomobilin 36 şəkili mövcuddur.
    </span>
    <a asp-controller="Image" asp-action="Index" asp-route-vincode="@Model.Carfax.Vin">Baxmaq</a>
</div>

<div class="col-lg-5-8 col-12 reklam">
    <a target="_blank" href="https://garantauto.az/" class="reklamhref">
        <img src="~/assets/images/Banner-1.jpg" alt="" class="img-fluid">
    </a>
</div>

<div class="col-lg-5-8 col-12 reklam">
    <a target="_blank" href="https://rusum.az/" class="reklamhref">
        <img src="~/assets/images/rusum-banner.jpg" alt="" class="img-fluid">
    </a>
</div>