

    <main id="loginmain">
        <div class="container">
            <div class="row all">
                <form class="col-lg-6 col-12 loginform" id="loginform">
                    <p class="col-lg-12 col-12 loginp">Zəhmət olmasa məlumatları doldurun.</p>

                    <label for="phoneno" class="col-lg-12 col-12">Telefon nömrəniz:</label>
                    <div class="inputkeeper col-lg-12 col-12">
                        <span class=" kodstrani">+994</span>
                        <input inputmode="numeric" numeric autocomplete="off" name="phoneno" placeholder="50 500 50 50"
                               type="text" required maxlength="9" minlength="9" class="phoneno col-lg-9 col-9"
                               id="phoneno">
                    </div>

                    <button class="btn" type="button" id="sendcode">Kodu göndər</button>

                    <div class="col-lg-12 col-12 d-none" id="kodgelennensonra">
                        <label for="code" class="col-lg-12 col-12">Göndərilən kod:</label>
                        <div class="inputkeeper col-lg-12 col-12">
                            <input inputmode="numeric" autocomplete="off" name="code" placeholder="1234" type="text"
                                   maxlength="4" minlength="4" class="code col-lg-12 col-12" id="code">
                        </div>

                        <button class="btn" type="submit">Daxil ol</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
