
<main id="topupmain">
    <div class="container">
        <div class="row all">

            <form id="topupform" class="col-lg-6 col-12 ">
                <div class="col-lg-9 col-9 above">

                    <input autocomplete="off" type="text" id="cardholder" class="cardholder col-lg-12 col-12"
                           placeholder="Ad Soyad" pattern="[A-Za-z, ]{2,}" name="cardholder" required>

                    <input autocomplete="off" type="text" inputmode="numeric" id="cardno"
                           class="cardno col-lg-12 col-12" placeholder="Kartın nömrəsi" pattern="[0-9]{16}"
                           name="cardno" maxlength="16" minlength="16" required>

                    <p class="validthru col-lg-12 col-12">VALID THRU:</p>

                    <div class="col-lg-12 col-12 ikisi">
                        <div class="col-lg-6 col-7 leftside">

                            <input autocomplete="off" type="text" id="month" class="month col-lg-5 col-5"
                                   placeholder="MM" pattern="[0-9]{2}" inputmode="numeric" maxlength="2" minlength="2"
                                   name="month" required>

                            <span class="slash">/</span>

                            <input autocomplete="off" type="text" id="year" class="year col-lg-5 col-5"
                                   placeholder="YYYY" pattern="[0-9]{4}" inputmode="numeric" maxlength="4"
                                   minlength="4" name="year" required>

                        </div>

                        <div class="col-lg-5 col-5 rightside">
                            <div class="col-lg-5 col-4-5 cardbox visabox">
                                <img src="~/assets/images/mastercard-logo-png-transparent-svg-vector-bie-supply-0.png"
                                     class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-4-5 cardbox mastercardbox">
                                <img class="img-fluid" src="~/assets/images/visa-card-logo-9.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-9 below">
                    <input autocomplete="off" type="text" id="cvv" class="cvv col-lg-3 col-3" placeholder="CVV"
                           pattern="[0-9]{3}" maxlength="3" inputmode="numeric" minlength="3" name="cvv" required>
                </div>

                <div class="col-lg-12 col-12 buttonandtelkeeper">
                    <input inputmode="numeric" numeric autocomplete="off" name="amount" placeholder="Məbləğ"
                           type="text" required class="amount col-lg-5-9 col-12" id="amount">
                    <button type="submit" id="purchaseformbutton" class="btn col-lg-5-9 col-12">Ödəmək</button>
                </div>
            </form>
        </div>
    </div>
</main>
