
<main id="main">
    <div class="container">
        <div class="row all">
            <form id="vincodeform" class="maincontainer col-lg-12 col-12" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Find">

                <p class="firstp col-lg-7 col-11">
                    Avtomobili yoxlamaq indi daha rahat oldu!
                </p>

                <p class="col-lg-6 col-11 secondp">
                    Avtomobil almazdan öncə tarixcəsi barədə məlumatları rahatlıqla əldə edəcəksiniz!
                    4T1BG22K9YU930834 WAUDG74F25N111998
                </p>

                <div class="col-lg-5-8 col-11 inputbox">
                    <input autocomplete="off" name="vincodeinput" maxlength="17" minlength="17" required
                           placeholder="AAAAA11A11A111111" type="text" class="col-lg-9-5 col-9-5" id="vincodeinput">
                    <span class="copyspan"><i class="fa-solid fa-copy"></i></span>
                    <span class="deleteinp" style="display: none;"><i class="fa-solid fa-circle-xmark"></i></span>
                    <button type="submit" id="vincodebutton" class="noClick btn col-lg-2-5 col-2-5">Axtar</button>
                </div>

            </form>

            <div class="resultsContainer col-12 col-lg-12 d-none" id="resultscontainer">

            </div>
        </div>
    </div>
</main>
